<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="job.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading jobs...</p>
</div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card striped-tabled-with-hover">
                    <div class="card-header">
                        <h1 class="card-title">Jobs<a href="/jobs/create" class="btn btn-primary btn-fill pull-right btn-round">
                            <i class="nc-icon nc-simple-add"></i>
                            <span>New Job</span>
                        </a></h1>
                        
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped"  ng-show="job.jobs">
                            <thead>
                                <th class="col-sm-2"></th>
                                <th>Job number</th>
                                <th>Age</th>
                                <th>Booked By</th>
                                <th>Product</th>
                                <th class="col-sm-2"></th>
                            </thead>
                            <tbody>
                                <!-- LOOP OVER THE JOBS -->
                                <tr ng-repeat="single in job.jobs" ng-init='products=getProducts(single._id)'>
                                    <td class="col-sm-2">
                                        <a ng-href="/jobs/{{ single._id }}" class="btn btn-info btn-fill pull-left btn-round">View</a>
                                    </td>
                                    <td> {{ single.job_number }} </td>
                                    <td> 
                                        <div>
                                            {{ job.getAge(single.created_at) }} Days
                                        </div>
                                    </td>
                                    <td> {{ single.created_by }} </td>
                                    <td>  
                                        <div >
                                            {{ job.getDevice(single.product_id).make }} {{ job.getDevice(single.product_id).model }} 
                                        </div>
                                    </td>
                                    <td class="col-sm-2">
                                        <a href="#" ng-click="job.deleteJob(single)" class="btn btn-danger btn-round">X</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>