<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="job.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading jobs...</p>
</div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card">
                <h2>Pick a repair to work on</h2>
                    <p>Be sure to look out for faults that match your class for a repair bonus!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="person in job.customers" class="col-md-4" ng-if="job.view = 'select'">
                <div class="card card-user">
                    <div class="card-image">
                        <img ng-src="{{person.faultImg}}" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" ng-src="{{person.avatar}}" alt="...">
                                <h5 class="title">{{person.firstName}} {{person.lastName}}</h5>
                            </a>
                            <p class="description">
                                <label>Product:</label>
                                <br>{{person.product}} {{person.device}}
                            </p>
                        </div>
                        <p class="description text-center">
                            <label>Fault:</label>
                            <br> {{person.fault}}
                        </p>
                        <p class="description text-center">
                            <label>Level:</label>
                            <br> {{person.level}}
                        </p>
                        <p class="description text-center">
                            <label>Reward:</label>
                            <br> £{{person.reward}}
                        </p>
                        <p class="description text-center">
                            <label>Deadline:</label>
                            <br> {{person.time}} Hours
                        </p>
                    </div>
                    <hr>
                    <div class="button-container mr-auto ml-auto">
                        <a ng-click="job.chooseJob(person.id)" class="btn btn-round btn-fill btn-success mb-2">Take Job</a>
                    </div>
                </div>
            </div>
        </div>
        