<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!--Customer card-->
            <div class="col-md-4">
                <h3 class="text-center">Customer</h3>
                <div class="card card-user">
                    <div class="card-image">
                        <img ng-src="{{job.customer.faultImg}}" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" ng-src="{{job.customer.avatar}}" alt="...">
                                <h5 class="title">{{job.customer.firstName}} {{job.customer.lastName}}</h5>
                            </a>
                            <p class="description">
                                <label>Product:</label>
                                <br>{{job.customer.product}} {{job.customer.device}}
                            </p>
                        </div>
                        <p class="description text-center">
                            <label>Fault:</label>
                            <br> {{job.customer.fault}}
                        </p>
                        <p class="description text-center">
                            <label>Level:</label>
                            <br> {{job.customer.level}}
                        </p>
                        <p class="description text-center">
                            <label>Reward:</label>
                            <br> £{{job.customer.reward}}
                        </p>
                        <p class="description text-center">
                            <label>Deadline:</label>
                            <br> {{job.customer.time}} Hours
                        </p>
                    </div>
                </div>
            </div>
            <!--Repair card-->
            <div class="col-md-4">
                <h3 class="text-center">Repair</h3>
                <div class="card">
                    <div class="card-header text-center ">
                        <h4 class="card-title">Time Remaining: {{job.timeRemaining}} Hours</h4>
                        <p class="card-category">Complete repair before time runs out</p>
                        <hr>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Percentage complete: {{job.progress}}%</h4>
                        <p class="card-category">Reach 100% completion before time runs out</p>
                        <hr>
                        <h4 class="card-title">Action</h4>
                        <p class="card-category">Each action takes {{job.actionTime}} hour(s) to perform</p>
                        <br>
                        <a ng-click="job.useSW()" class="btn btn-round btn-fill btn-success mb-2">Software (+{{job.software}}%)</a>
                        <br>
                        <a ng-click="job.useHW()" class="btn btn-round btn-fill btn-success mb-2">Hardware (+{{job.hardware}}%)</a>
                        <br>
                        <a ng-click="job.useVirus()" class="btn btn-round btn-fill btn-success mb-2">General (+{{job.virus}}%)</a>
                        <br>
                        <a ng-click="job.useData()" class="btn btn-round btn-fill btn-success mb-2">Data (+{{job.data}}%)</a>
                    </div>
                </div>
            </div>
            <!--Player card-->
            <div class="col-md-4">
                <h3 class="text-center">Technician</h3>
                <div class="card card-user">
                    <div class="card-image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="../assets/img/faces/face-0.jpg" alt="...">
                                <h5 class="title">{{job.user.name}} ({{job.user.username}})</h5>
                            </a>
                            <p class="description">
                                <label>Class:</label>
                                <br>{{job.user.class}}
                            </p>
                        </div>
                        <p class="description text-center">
                            <label>Team:</label>
                            <br> {{job.user.team}}
                        </p>
                        <p class="description text-center">
                            <label>Level:</label>
                            <br> {{job.user.level}}
                        </p>
                        <p class="description text-center">
                            <label>Stats: Base (Modifier)</label>
                            <br> Software: {{job.user.software}} (x{{job.modifiers[0]}})
                            <br> Hardware: {{job.user.hardware}} (x{{job.modifiers[1]}})
                            <br> Virus: {{job.user.virus}} (x{{job.modifiers[2]}})
                            <br> Data: {{job.user.data}} (x{{job.modifiers[3]}})
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>